# Home Assistant Community Add-on: cAdvisor

[![Release][release-shield]][release]

A container metrics exporter for Prometheus.

## About

[release-shield]: https://img.shields.io/badge/version-{{ version }}-blue.svg
